
svg {
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-20%, -80%);
  max-width: 400px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#createCueSheetButton{
  margin-top: 50px;
  width: 200px;
  border-radius: 30px;
  font-size: large;
  font-weight: bold;
  height: 40px;
}

textarea {
  margin-top: 5px;
  width: 50%;
}

.drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  padding: 20px;
  height: 150px;
  font-family: sans-serif;
}

.drop-area.highlight {
  border-color: purple;
}

p {
  margin-top: 0;
}

.my-form {
  margin-bottom: 10px;
}

#gallery {
  margin-top: 10px;
}

#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button:hover {
  background: #ddd;
}

#cueSheetOutput{
  border-width: 2px;
}
