div {
  display: flex;
  flex-direction: column;

  background-color: hsl(207, 65%, 83%);
  display: flex;
}

textarea {
  margin-top: 15px;
  width: 50%;
}
body {
  background: #66c;
}
svg {
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-20%, -80%);
  max-width: 400px;
}
